.Filters_sectioan_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Filters_sectioan_main {
  margin: 20px 0px;
  background-color: #fff;
  box-shadow: 0px 2px 5px #cacaca70;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 18px;
  width: 93%;
  font-weight: bold;
  border-radius: 5px;
}
.Filters_sectioan_main2 {
  display: flex;
  justify-content: space-between;
  width: 93%;
  font-weight: bold;
  font-size: 18px;
}
.Filters_sectioan_main2_left {
  width: 50%;
}
.Filters_sectioan_main2_right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.Filters_sectioan_main2_btn {
    display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 30px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 2px 5px #cacaca70;

}
.Filters_sectioan_main2_btn:hover {
  
}


.filter_modal_wrap {
    height: 300px;

}

.ant-modal {
  width: 50% !important ;  
} 
@media (max-width:768px) {
.ant-modal {
  width: 100% !important  ;
}  
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
   width: 30px;
   max-width: 50px !important;
   font-size: 0.675rem !important;
   text-align: left !important;
   padding-left: 5px !important;
}
.ant-modal-content {
padding: 10px 10px !important;
}
.Program_card_wrap_mainModal .css-19kzrtu {
  padding: 5px 5px 5px 15px !important;
}
.Program_card_wrap_mainModal  .m-checkbox-text {
font-size: 12px;
}
.each-tab-panel {
  width: 90% !important;
}
.css-35zqo5-MuiTabs-root {
max-height: 300px;
}
.Program_card_wrap_mainModal .ant-modal-close-x {
  display: none  !important;
  
}
} 
.Filters_sectioan_main2_btn  {
 padding: 12px ; 
}
