body {
  margin: 0;
}
.main-secondHero_wrap {
  font-family: "Inter", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("https://images.studee.com/images/content/content__search--hero.svg");
  background-position: right;
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
}
.secondHero_container {
  margin-top: 30px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.secondHero_left_div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.secondHero_left_div h1 {
  font-family: "Inter", sans-serif;
}
.secondHero_left_div p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.secondHero_right_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 50%;
}
.secondHero_right_div_section_body {
  box-shadow: 0px 2px 9px #160b2421;
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}
.secondHero_right_div_section_body h2 {
  font-size: 1.4rem;
  margin: 10px 0px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.secondHero_right_div_section_body p {
  line-height: 1.6rem;
}
.universities_hero_right_btn_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.universities_hero_right_btn {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: white;
  background-color: #603392;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  font-weight: bold;
  transition: 0.3s;
  height: 59px;
  cursor: pointer;
  padding: 10px 30px;
  margin: 30px 0px 0px 0px;
  border-radius: 8px;
  width: fit-content;
  border: 3px solid #603392;
}

.universities_hero_right_btn:hover {
  color: #603392;
  background-color: white;
}

.universities_hero_right_btn:hover .heroBtnIcon {
  color: #603392;
  transition: 0.3s;
}

.universities_hero_left_btn_wrap {
  width: 100%;
}
.sec_hero_uniBtn_wrap {
  flex-direction:row !important; 
}

.universities_hero_left_btn {
  font-family: "Inter", sans-serif;
  background-color: white !important ;
  color: #603392 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  font-weight: bold;
  transition: 0.3s;
  height: 59px;
  cursor: pointer;
  padding: 10px 30px;
  margin: 30px 0px;
  border-radius: 8px;
  border: 3px solid #603392;
}

.universities_hero_left_btn:hover {
  color: white !important;
  background-color:#603392 !important ;  
}

.universities_hero_left_btn:hover .heroBtnIcon {
  color: #603392;
  transition: 0.3s;
}

@media (max-width: 555px) {
  .secondHero_container {
    flex-direction: column;
    text-align: center;
  }

  .secondHero_left_div,
  .secondHero_right_div {
    flex: auto;
    padding: 10px;
  }

  .secondHero_left_div h1 {
    font-size: 2.05rem;
    line-height: 1.28;
  }

  .secondHero_left_div h1 {
    text-align: left;
    font-size: 1.7rem;
  }

  .secondHero_left_div p {
    font-size: 20px;
    text-align: left;
  }
  .secondHero_right_div {
    width: 100%;
    padding: 0px;
  }

  .universities_hero_right_btn {
    margin-top: 10px;
  }
}

@media (min-width: 40em) {
  .secondHero_left_div h1 {
    font-size: 2.7rem;
    line-height: 1.27;
  }
}
@media (min-width: 555px) and (max-width: 768px) {
  .secondHero_right_div_section_body {
    padding: 10px;
  }
  .secondHero_right_div_section_body p {
    font-size: 13px;
    line-height: 1.3rem;
  }
  .universities_hero_right_btn {
    margin: 10px 0px;
    font-size: 13px;
    height: 35px;
    padding: 0px 12px !important;
  }
}
@media (min-width: 555px) and (max-width: 768px) {
  .secondHero_left_div {
    padding: 0px;
  }
  .secondHero_left_div h1 {
    font-size: 30px;
  }
  .secondHero_left_div p {
    font-size: 15px;
  }
  .secondHero_right_div {
    width: 40%;
    padding: 0px;
  }
}
