.boxesAndData_wrap {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
  }
  .boxesAndData_main {
    margin: 130px 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  
  .boxesAndData_head {
    display: flex;
    margin: 0px 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .boxesAndData_head h1 {
    font-size: 36px;
    width: 97%;
    margin-bottom: 10px;
  }
  .boxesAndData_head p {
    color: #5a5a72;
  }
  .boxesAndData_head h2 {
    font-size: 24px;    
    font-weight: bold;
    margin: 10px 0px;
  }
  .boxesAndData_body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .boxesAndData_card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 9px rgba(69, 69, 69, 0.208);
    max-width: 23%;
    height: 200px;
    width: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .boxesAndData_card:hover {
    box-shadow: 0px 2px 9px gray;
  }
  .boxesAndData_card img {
    border-radius: 5px 5px 0px 0px;
  }
  
  .boxesAndData_card h2 {
    font-size: 26px;
    font-weight: 600;
    color: white;
  }
  .boxesAndData_card:hover h2 {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .boxesAndData_bottom {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .boxesAndData_bottom p {
    color: var(--primary-color);
    font-weight: 600;
    width: 97%;
    margin: 20px 0px;
  }
  
  @media (max-width: 600px) {
    .boxesAndData_card {
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 2px 9px rgba(69, 69, 69, 0.208);
      margin: 10px 0px;
      width: 100%;
      max-width: 100%;
    }
    .boxesAndData_head h1 {
      font-size: 32px;
    }
    .boxesAndData_main {
      margin: 10px 0px;
    }
  }
  
  @media (min-width: 600px) {
    
    .boxesAndData_card {
      margin: 27px 10px;
    }
  }
  