.the_main_header_wrap {
  border-bottom: 1px solid rgba(76, 76, 76, 0.128);
}
.header_custom_searchbar {
  margin-left: 20px;  
  margin-right: 10px;  
  width: 150px !important;
}
._header_search_iconDiv {
    margin-right: 10px; 
}

@media (min-width: 1024px) {
    .header_custom_searchbar {
      width: 300px !important;
      margin-right: 20px; 
    }
    ._header_search_iconDiv {
        margin-right: 20px; 
    }
  }


  @media (min-width:425px) and (max-width:1024px) {

    .header_custom_searchbar {
  margin-left: 20px;  
  margin-right: 10px;  
  width: 250px !important;
}
._header_search_iconDiv {
    margin-right: 10px; 
}
  }
  