body {
  margin: 0;
}
.main-hero_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #efeaf4;
}
.hero_container {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #efeaf4; */
}

.left_div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0px 20px;
}

.right_div {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* border:2px solid red; */
  padding: 20px;
  width: 50%;
}

.left_div h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

.left_div p {
  font-size: 1.375rem;
  line-height: 1.27;
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-top: 5px;
}
.right_div img {
  padding-right: 50px;
  width: 100%;
  height: auto;
  max-width: 566px;
}
.user-input-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 96%;
  background-color: white;
  margin-top: -60px;
  border-left: 4px solid #2b2d4a;
}
.hero_label {
  height: 150px;
  border-width: 2px solid;
  border-color: red;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  width: 30%;
}
.hero_labelP {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.inpbox-style {
  height: 35px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  width: 100%;
  font-size: 17px;
  border: 2px solid #2b2d4ae4;
}
.inpbox-style::placeholder {
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

.hero_btn {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: white;
  background-color: #f26822;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  height: 59px;
  cursor: pointer;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  width: 100%;
}
.heroBtnCover {
  height: 114px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero_btn:hover {
  letter-spacing: 1px;
  color: #f26822;
  background-color: #ffece3;
}
.heroBtnIcon {
  color: white;
}
.hero_btn:hover .heroBtnIcon {
  color: #f26822;
  transition: 0.3s;
}

.inpbox-style:focus {
  border-color: #f26822;
  border-width: 2px;
}

@media (max-width: 555px) {
  .hero_container {
    flex-direction: column;
    text-align: center;
  }

  .left_div,
  .right_div {
    flex: auto;
    padding: 10px;
  }

  .right_div {
    width: 90%;
  }

  .left_div h1 {
    font-size: 2.05rem;
    line-height: 1.28;
  }

  .left_div p {
    font-size: 20px;
  }
  .right_div img {
    padding-right: 0px;
    width: 100%;
    height: auto;
    max-width: 566px;
  }

  .user-input-section {
    margin-top: 20px;
  }
}

@media (min-width: 40em) {
  .left_div h1 {
    font-size: 2.7rem;
    line-height: 1.27;
  }
}
