body {
  margin: 0;
}
.main-hero_wrap {
  width: 100%  !important;
  display: flex  !important;
  justify-content: center  !important;
  background-color: #efeaf4  !important;
}
.hero_container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hero_left_div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.hero_right_div {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* border:2px solid red; */
  padding: 20px;
  width: 50%;
}

.hero_left_div h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

.hero_left_div p {
  font-size: 1.375rem;
  line-height: 1.27;
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-top: 5px;
}
.hero_right_div img {
  padding-right: 50px;
  width: 100%;
  height: auto;
  max-width: 566px;
}
.hero_user-input-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 96%;
  background-color: white;
  margin-top: -40px;
  border-left: 4px solid #2b2d4a;
}
.theHero_label {

  justify-content: flex-start;

  height: 150px !important;
  border-width: 2px solid !important;
  border-color: red !important;
  font-family: "Inter", sans-serif !important;
  font-size: 17px !important;
  width: 30% !important;
}
.hero_labelP {
  margin-top: 30px;

  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.hero_inpbox-style {
  height: 59px !important;
  padding: 10px !important;
  outline: none !important;
  border-radius: 10px !important;
  width: 100% !important;
  font-size: 17px !important;
  border: 2px solid #2b2d4ae4 !important;
}
.hero_inpbox-style::placeholder {
  font-size: 17px !important;
  font-family: "Inter", sans-serif !important;
}

.hero_btn {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: white;
  background-color: #f26822;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  height: 59px;
  cursor: pointer;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  width: 100%;
}
.hero_btn:hover {
  letter-spacing: 1px;
  color: #f26822;
  background-color: #ffece3;
}
.heroBtnCover {
  height: 114px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.heroBtnIcon {
  color: white;
}
.hero_btn:hover .heroBtnIcon {
  color: #f26822;
  transition: 0.3s;
}

.hero_inpbox-style:focus {
  border-color: #f26822;
  border-width: 2px;
}

@media (max-width: 555px) {
  .hero_container {
    flex-direction: column;
    text-align: center;
  }

  .hero_left_div,
  .hero_right_div {
    flex: auto;
    padding: 10px;
  }

  .hero_right_div {
    width: 90%;
  }

  .hero_left_div h1 {
    font-size: 2.05rem;
    line-height: 1.28;
  }

  .hero_left_div p {
    font-size: 20px;
  }
  .hero_right_div img {
    padding-right: 0px;
    width: 100%;
    height: auto;
    max-width: 566px;
  }

  .hero_user-input-section {
    margin-top: 20px;
  }
}

@media (min-width: 40em) {
  .hero_left_div h1 {
    font-size: 2.7rem;
    line-height: 1.27;
  }
}
