.studying_abroad_wrap {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.studying_abroad_main {
    margin: 150px 0px;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.studying_abroad_head {
  display: flex;
  width: 100%;
  justify-content: center;
}
.studying_abroad_head h1 {
  font-size: 36px;
  width: 97%;
  margin: 20px 0px;
}
.studying_abroad_body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.studying_abroad_card {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 9px rgba(69, 69, 69, 0.208);
  max-width: 30%;
}
.studying_abroad_card img {
  border-radius: 5px 5px 0px 0px;
}
.studying_abroad_card_bottom {
  margin: 20px;
}
.studying_abroad_card_bottom h2 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.studying_abroad_bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.studying_abroad_bottom p {
    color: var(--primary-color);
    font-weight: 600;
    width: 97%;
    margin: 20px 0px;
}


@media (max-width:600px) {
    
    .studying_abroad_card {
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 2px 9px rgba(69, 69, 69, 0.208);
        max-width: 95%;
        margin: 10px 0px;
      }
      .studying_abroad_main{
        margin: 10px 0px;
      }
}