.tree_hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 0.5rem 0px;
 /* border:2px solid ; */
}

.tree_hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.tree_hero-image img {
  width: 100%;
  max-width: 100%;
}

.tree_hero-text {
  width: 55%;
  padding-left: 20px;
}

.tree_hero-heading {
  line-height: 2.5rem;
  margin-bottom: 20px;
  font-size: 32px;
  color: #2b2d4a;
  font-family: "Inter", sans-serif;
}

.tree_hero-paragraph {
  font-size: 17px;
  columns: #5a5a72;
}

.tree_hero-link {
  color: blue;
}
/* Mobile Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .tree_hero-image {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .tree_hero-image img {
    width: 90% !important;
  }
  .tree_hero-text  {
    width: 70% !important;
  }
}
@media screen and (max-width: 767px) {
  .tree_hero-content {
    flex-direction: column;
    text-align: center;
    height: inherit;
  }
  .vertical_tree_hero-content {
    flex-direction: column-reverse !important;
    text-align: center;
    height: inherit;
  }

  .tree_hero-image img {
    width: 100%;
    margin: 10px 0px;
  }

  .tree_hero-text {
    width: 100%;
    text-align: left;
    padding: 20px 0;
  }

  .tree_hero-heading {
    font-size: 24px;
  }

  .tree_hero-paragraph {
    font-size: 16px;
  }
  .tree_hero-section {
    height: inherit;
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tree_hero-content {
    flex-direction: row;
    text-align: left;
  }

  .tree_hero-image img {
    width: 50%;
  }

  .tree_hero-text {
    width: 50%;
    padding: 0 20px;
  }
}
