.login_container_wrap {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 40px 0px;
}

.login_form {
  width: 47%;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login_form h2 {
  font-size: 1.5rem;
  /* text-align: center; */
  margin-bottom: 20px;
}
.login_form p {
  margin: 20px 0px;
}

.login_input_group {
  margin-bottom: 10px;
}

.login_input_group label {
  display: block;
  font-weight: 500;
  font-family: Inter;
  margin-bottom: 5px;
}

.login_input {
  width: 90%;
  padding: 15px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.login_input:focus,
.login_input:active {
  outline: none;
  border: 2px solid #f26822;
  /* border-color:  Change this to the desired border color */
}
.login_card_bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.login_card_bottom a {
  margin: 14px 0px;
}

.login_button {
  min-width: 60%;
  max-width: fit-content;
  padding: 13px 10px;
  font-size: 1.1rem;
  background-color: #f26822;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.login_button:hover {
  background-color: #ffdbc9;
  color: #f26822;
  transition: 0.1s;
}
.login_register_box {
  width: 47%;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: fit-content;
}

@media (max-width: 768px) {
  .login_container_wrap {
    background-color: #fff;
  }
  .login_container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .login_form {
    border-radius: 0px;
    width: 100%;
    margin-bottom: 0px;
    padding: 20px;
    padding-top: 30px;
  }
  .login_form h2 {
    font-size: 1.3rem;
  }
  .login_input {
    width: 100%;
  }
  .login_button {
    width: 50%;
  }

  .login_register_box {
    width: 100%;
    border-radius: 0px;
  }
}

.login_register_box_main {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.login_register_box_main h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 0px;
}
.login_register_box_main p {
  margin: 5px 0px 15px 0px;
}

.login_register_button {
  padding: 12px 20px;
  background-color: #fff;
  border: 2px solid #603392;
  border-radius: 8px;
  color: #603392;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  cursor: pointer;
}

.login_register_button:hover {
  background-color: #603392;
  transition: 0.1s;
  color: #fff;
}


/* Register Label */
.lable_in_signup_screen {
  margin-top: 20px;
}
.country_of_nationality_p {
  font-size: 14px;
}

/* Register Sidebox */
.Register_side_box_wrap {
  /* border-top: 2px solid #603392; */
  
}
.Register_individual_side_box  {
  margin: 20px 0px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.Register_individual_side_box h3  {
  font-size: 1.2rem;
  margin:-5px 0px
}
.Register_individual_side_box img {
  width: 20%;
}
  .Register_individual_side_box div {
    width: 70%;
  }
  